<%= form_for(@attraction_detail) do |f| %>
  <% if @attraction_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction_detail.errors.count, "error") %> prohibited this attraction_detail from being saved:</h2>

      <ul>
      <% @attraction_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
